* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;padding-top: 50px;
    background-color: #b91450;
}

h2 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
/* prima parte main */
.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    height: 250px;
    margin-top: 50px;
    border-radius: 30px;
    padding-top: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.row-content{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

label {
    font-size: 25px;
    color: #b91450;
}
option {
    font-size: 18px;
}

input, select {
    border: 1px solid #b91450;
    border-radius: 5px;
    height: 30px;
    margin-top: 15px;
}

.item {
    margin-right: 70px;
}

.buttons {
    margin-top: 50px;
}

button {
    font-size: 20px;
    color: #b91450;
    font-weight: 700;
    background-color: lightgrey;
    border: 1px solid #b91450;
    padding: 5px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}

/* seconda parte main */
.ticket-container {
    text-align: left;
    padding-left: 100px;
}

.black {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.displayonlick {
    display: block;
}

.displaynone {
    display: none;
}